.dstyle1{
    background: url("https://pbs.twimg.com/media/FkGj9hyVQAEk-Lw?format=jpg&name=4096x4096");
    background-repeat: no-repeat;
    background-size: cover;
}
.dstyle2{
    background: url("https://pbs.twimg.com/media/FkGkd31UUAAWIQc?format=jpg&name=4096x4096");
    background-repeat: no-repeat;
    background-size: cover;
}
.dstyle3{
    background: url("https://pbs.twimg.com/media/FkGpgVNUEAA3ZxW?format=jpg&name=4096x4096");
    background-repeat: no-repeat;
    background-size: cover;
}
.dstyle4{
    background: url("https://pbs.twimg.com/media/FkGqdU9VEAIxO01?format=jpg&name=large");
    background-repeat: no-repeat;
    background-size: cover;
}
.dstyle5{
    background: url("https://pbs.twimg.com/media/FkGNSmoUcAAIq5O?format=jpg&name=4096x4096");
    background-repeat: no-repeat;
    background-size: cover;
}
.dstyle6{
    background: url("https://pbs.twimg.com/media/FkGr8yMUcAA5f-N?format=jpg&name=small");
    background-repeat: no-repeat;
    background-size: cover;
}
.dstyle7{
    background: url("https://pbs.twimg.com/media/FkGNSuPUAAAZ_YS?format=jpg&name=small");
    background-repeat: no-repeat;
    background-size: cover;
}
.dstyle8{
    background: url("https://pbs.twimg.com/media/FkGsuoLUEAEwSkh?format=jpg&name=small");
    background-repeat: no-repeat;
    background-size: cover;
}
.dstyle9{
    background: url("https://pbs.twimg.com/media/FkGtV2UVUAIAprT?format=jpg&name=large");
    background-repeat: no-repeat;
    background-size: cover;
}
.dstyle10{
    background: url("https://pbs.twimg.com/media/FkGtxTXVEAA7WHh?format=jpg&name=small");
    background-repeat: no-repeat;
    background-size: cover;
}
.dstyle11{
    background: url("https://pbs.twimg.com/media/FkGNK4SUUAEGIIJ?format=jpg&name=360x360");
    background-repeat: no-repeat;
    background-size: cover;
}
.dstyle12{
    background: url("https://pbs.twimg.com/media/FkGurRDUEAET9vV?format=jpg&name=small");
    background-repeat: no-repeat;
    background-size: cover;
}
